.leaflet-container {
  height: 24rem;
  z-index: 1;
}

@media (min-width: 1280px) {
  .leaflet-container {
    height: 500px;
  }
}

@media (min-width: 1536px) {
    .leaflet-container {
        height: 700px;
    }
}

.zoom {
  animation: scale 60s linear infinite;
}

@keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
