@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

/* general overrides, max-width container */

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

body,
ul {
    margin: 0;
    padding: 0;
}

img,
svg {
    height: auto;
    max-width: 100%;
}

/* hyperlinks */

a {
    text-decoration: none;
    color: #3385ff;
    /* subject to change */
}

a:hover {
    color: #0052cc;
    /* subject to change */
    transition: all ease-in-out 0.3s;
}

.nav__links a,
.nav__mobile--links a {
    display: block;
    padding: 1rem;
}

/* navbar */

header {
    background-color: #282828;
    padding: .25rem 1.5rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.logoTitleContainer__logo {
    display: flex;
}

nav,
.title__link,
.nav__links {
    display: flex;
}

.title__link {
    text-align: center;
}

.nav {
    display: none;
    align-items: center;
}

.nav__mobile--links {
    display: none;
}

.nav__links,
.nav__mobile--links {
    list-style-type: none;
    font-weight: 100;
}

/* mobile menu */

.nav__mobile,
.nav__mobile--open {
    display: flex;
    align-items: center;
}

.nav__mobile--btn {
    background-color: transparent;
    border: none;
    color: #3385ff;
    /* subject to change */
    cursor: pointer;
    font-size: xx-large;
    width: 2rem;
}

.nav__mobile--btn:hover {
    color: #0052cc;
    /* subject to change */
    transition: all ease-in-out 0.3s;
}

.nav__mobile--open {
    flex-direction: column;
}

@media screen and (min-width: 991px) {

    .nav__mobile,
    .nav__mobile--open {
        display: none;
    }

    .nav {
        display: flex;
    }
}

/* hero */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url("https://cdn.mos.cms.futurecdn.net/fEiiAFCszqW8THGArcpAG4-1200-80.jpg");
    background-position: center;
    background-size: cover;
    margin: 1.5rem auto 2.5rem;
    width: 95%;
    height: 350px;
    position: relative; 
    border-radius: 1rem;
    box-shadow: .25rem 1rem 5rem black;
}

.heroText {
    width: 50%;
    text-align: right;
    position: absolute;
    top: 85%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #3385ff;
}

/* horizontal rule */

.spacer {
    opacity: 0.2;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}